{% extends "master.html" %} {% load static %} {% block title %} Article Overview
{% endblock %} {% load static %}

<link rel="stylesheet" href="{% static 'index.css' %}" />
{% comment %}
<script src="{% static 'index.js' %}"></script>
{% endcomment %} {% block content %}
<div class="center">
  <h1 class="page-title">Article Overview</h1>
</div>

<h1 class="user-welcome">{{user}}</h1>
 {% include 'article_interface.html'%}
<ul>
  {% for x in articles %}
  <li><a href="details/{{x.id}}"> {{x.title}}</a></li>
  {% endfor %}
</ul>
<div class="article-wrapper">
  {% for x in articles %}
  <a href="details/{{x.id}}" class="article-container">
  <div class="article-content">
    <h2>{{x.title}}</h2>
    <p>{{x.date}}</p>
  </div>
    <img src="/media/{{ x.image }}" alt="{{x.image.url}}" />
  </a>
  {% endfor %}


  <a href="/article/new"  class="add-article open-form">
    <img src="{% static 'icons/add.svg' %}" alt="add" class="add-icon" />
  </a>

 
</div>


{% endblock %}
