{% extends "master.html" %} 


{% block title %}
{{article.title}}{% endblock %} 

{% block content %}
{% comment %} <h1>Article Overview</h1> {% endcomment %}
<div class="details-wrapper">

<div class="details-container">
  <a class="secondary-btn" href="/article_overview"> &lt Back to overview</a>

  <h1>{{ article.title }}</h1>



  <img src="/media/{{ article.image }}" alt="{{ article.image.url }}" />
  <div class="author-date">
    <small>{{ article.author }}</small> 
    <small>{{article.date}}</small>
  </div>
  <p>{{ article.body }}</p>
  <p>Source: {{ article.source }}</p>

</div>
</div>
{% endblock %}
