{% extends "master.html" %}
{% load static %}
{% block title %}
Login
{% endblock %}
{% block content %}
 {% comment %} <h1>Login</h1> {% endcomment %}
 <style>
  body {
      background-image: url("{% static 'newspapers.jpg' %}");
      background-size: cover; 
      height: 100vh; 
      display: flex;
      justify-content: center; 
      align-items: center; 
backdrop-filter: blur(5px);
  }
</style>
 <div class="center">
<div class="form-container">
    <h1>Login</h1>

<form method="post">{% csrf_token %}
    {{form.as_p}}
  {% comment %} <input type="text" id="username" placeholder="Name" name="username"><br> {% endcomment %}
  {% comment %} <input type="text" id="email" placeholder='Email' name="email"><br> {% endcomment %}
  {% comment %} <input type="password" id="password" name="password" placeholder="Password"><br><br>
  {% endcomment %}
  <input type="submit" value="Submit"> 
</form> 
</div>
</div>
</div>

{% endblock %}