{% extends "master.html" %}
{% load static %}
{% block title %}
Login
{% endblock %}
{% block content %}
 {% comment %} <h1>Login</h1> {% endcomment %}
 <style>
  body {
      background-image: url("{% static 'newspapers.jpg' %}");
      background-size: cover; 
      height: 100vh; 
      display: flex;
      justify-content: center; 
      align-items: center; 
backdrop-filter: blur(5px);
  }
</style>
 <div class="center">
 <div class="flex-row">
<div class="signIn">
  <h1>Welcome Back</h1>
<a class="signInBtn" href="/login">SIGN IN</a>
</div>
<div class="form-container">
  <h1>Create account</h1>
<form class="sign-up-form" method="post">{% csrf_token %}
    {{form.as_p}}
  <input type="submit" value="SIGN UP" name="Submit">
<a href="/article_overview">Continue without an account</a>

</form> 
</div>
</div>
</div>

{% endblock %}